:root {
  --font-default: "Archivo", sans-serif;
}

/* Colors */
:root {
  --color-default: #fff7f7;
  --color-primary: #65d7ab;
  --color-secondary: #574b5c;
  --gradient-primary: linear-gradient(217deg, rgba(251,215,255,1) 10%, rgba(255,222,193,1) 80%);
  --gradient-secondary: linear-gradient(217deg, rgb(197, 136, 201) 5%, rgb(204, 159, 119) 80%);
  --gradient-black: linear-gradient(to top left,#000C40,#607D8B);
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-secondary);
  background-color: var(--color-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}

