:root {
  --font-default: "Archivo", sans-serif;
}

/* Colors */
:root {
  --color-default: #fff7f7;
  --color-primary: #27a776;
  --color-secondary: #161718;
  --gradient-primary: linear-gradient(217deg, rgba(251,215,255,1) 10%, rgba(255,222,193,1) 80%);
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-secondary);
  background-color: var(--color-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}

