.container-background-gradient-black {
  margin: 10rem auto 0;
  width: 95%;
  // text-align: center;
  background: linear-gradient(90deg, #1d1d1d 0%, #000000 100%);
  padding: 2rem 1rem;
  border-radius: 0.5rem;
}