<%= form_with(url: search_ongs_path, method: :get) do |f| %>
  <div class="input-group mb-3 mx-auto mb-5" style="max-width: 600px;">
    <%= f.text_field :query, class: 'form-control', placeholder: 'Buscar ...' %>
    <%= f.button '', name: 'buscar', class: 'btn btn-outline-secondary' do %>
      <i class="bi bi-search"></i>
    <% end %>
  </div>

  <% if categories.present? %>
    <%= render 'shared/search_by_category', categories: categories %>
  <% end %>
<% end %>