<%= form_with(url: search_ongs_path, method: :get) do |f| %>
  <div class="input-group mb-3 mx-auto mb-2" style="max-width: 600px;">
    <%= f.text_field :query, class: 'form-control', placeholder: 'Buscar ...' %>
    <%= f.button '', name: 'buscar', class: 'btn btn-outline-secondary' do %>
      <i class="bi bi-search"></i>
    <% end %>
  </div>
<% end %>