<div class="position-absolute top-10 start-5 cut-diamond" ></div>
<div class="position-absolute top-50 end-50 chevron" ></div>
<div class="position-absolute bottom-0 end-10 parallelogram" ></div>
<div class="position-absolute bottom-0 end-0 base" ></div>

<div class=" mb-5 pb-5 text-center">
  <h3 class="text-gradient-secondary mb-5 fw-light">Sobre nós</h3>
</div>

<div class="row">
  <div class="col-md-5 pb-5 mb-5 border-around mx-md-auto">
    <h4 class="text-gradient-secondary fw-light">Para que essa plataforma foi criada?</h4>
    <p class="fw-small mt-4 text-gradient-secondary">
      Sabemos que muitas pessoas têm o desejo de ajudar, mas muitas vezes não 
      sabem por onde começar ou como encontrar oportunidades que se alinhem com 
      seus interesses e valores. Connect Sergipe foi criada para preencher essa lacuna, 
      facilitando o acesso a informações e oportunidades de engajamento social.
    </p>

  </div>

  <div class="col-md-5 pb-5 mb-5 border-around mx-md-auto">
    <h4 class="text-gradient-secondary fw-light">Nossa visão</h4>
    <p class="fw-small mt-4 text-gradient-secondary">
      Visualizamos um mundo onde todos têm a chance de contribuir para o bem-estar da 
      comunidade, onde a solidariedade e a empatia são valores centrais. Queremos inspirar 
      e capacitar cada pessoa a ser um agente de mudança positiva.
    </p>
  </div>
</div>
