<div class="col-md-5 pb-5 mb-5 mx-auto">
  <h4 class="text-gradient-secondary">Bem-vindo(a) à Connect Sergipe</h4>
  <p class="fw-small text-gradient-secondary">
    Connect Sergipe é um projeto social dedicado a conectar pessoas a causas sociais,
    com o objetivo de promover ações de voluntariado e doações. Acreditamos que, juntos, 
    podemos fazer a diferença e transformar o mundo ao nosso redor. 
  </p>
</div>

<div class="col-md-5 pb-5 mb-5">
  <h4 class="text-gradient-secondary">O que fazemos</h4>
  <p class="fw-small text-gradient-secondary">
    Através da nossa plataforma, oferecemos uma ponte entre quem deseja ajudar 
    e quem precisa de ajuda. Aqui, você pode:
  </p>
  <ul class="fw-small text-gradient-secondary">
    <li>
      <strong>Encontrar Projetos Sociais:</strong> Descubra iniciativas que fazem a diferença em diversas áreas, 
      como educação, saúde, meio ambiente, entre outras.
    </li>
    <li>
      <strong>Conectar-se a Causas:</strong> Encontre causas que tocam o seu coração e envolva-se como voluntário ou doador.
    </li>
    <li>
      <strong>Informar-se Sobre Eventos e Campanhas:</strong> Mantenha-se atualizado(a) sobre eventos e campanhas sociais 
      em sua comunidade e participe ativamente.
    </li>
  </ul>
</div>

<div class="col-md-5 pb-5 mb-5">
  <h4 class="text-gradient-secondary">Para que essa plataforma foi criada?</h4>
  <p class="fw-small text-gradient-secondary">
    Sabemos que muitas pessoas têm o desejo de ajudar, mas muitas vezes não 
    sabem por onde começar ou como encontrar oportunidades que se alinhem com 
    seus interesses e valores. Connect Sergipe foi criada para preencher essa lacuna, 
    facilitando o acesso a informações e oportunidades de engajamento social.
  </p>
</div>

<div class="col-md-5 pb-5 mb-5">
  <h4 class="text-gradient-secondary">Nossa visão</h4>
  <p class="fw-small text-gradient-secondary">
    Visualizamos um mundo onde todos têm a chance de contribuir para o bem-estar da 
    comunidade, onde a solidariedade e a empatia são valores centrais. Queremos inspirar 
    e capacitar cada pessoa a ser um agente de mudança positiva.
  </p>
</div>