<div class="container-background-gradient">
  <div class="col-md-4 pb-5 mb-5 mx-auto">

    <h1 class="display-5 fw-normal text-gradient-secondary">Connect Sergipe</h1>

    <p class="lead fw-small fs-6 text-gradient-secondary">
      Descubra e Apoie Causas Locais. Explore ONGs e Faça a Diferença na Comunidade! 
    </p>

    <%= render 'ongs/search' %>
  </div>
</div>

<main class="container border-top pt-5">

  <h2 class="display-7 mb-5 fw-normal text-gradient-primary">Conheça algumas iniciativas:</h2>

  <div class="row">
    <div class="pb-3 text-end">
      <%= link_to ongs_path, class: 'icon-link icon-link-hover' do %>
        Ver mais <i class="bi bi-arrow-right"></i>
      <% end %>
    </div>
    <%= render @ongs %>

  </div>

</main>