<div class="container-background-gradient text-center">
  <div class="col-md-4 pb-5 mb-5 mx-auto">
    <h1 class="display-5 fw-normal">ONGs em Sergipe</h1>
    <p class="lead fw-small fs-6">
      Descubra e Apoie Causas Locais. Explore ONGs e Faça a Diferença na Comunidade! 
    </p>

    <%= render 'ongs/search' %>
  </div>
</div>

<main class="container">

  <div class="row mb-2">
    <%= render @ongs %>
    
    <%= link_to ongs_path, class: 'icon-link icon-link-hover' do %>
      Ver mais <i class="bi bi-arrow-right"></i>
    <% end %>
  </div>

</main>