<%= form_with(url: search_ongs_path, method: :get) do |f| %>
  <div class="input-group mb-3">
    <%= f.text_field :query, class: 'form-control', placeholder: 'Buscar por ONGs' %>
    <button class="btn btn-outline-primary" type="submit" name="buscar">
      <i class="bi bi-search"></i>
    </button>
  </div>
<% end %>