.btn {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.5s ease-in-out;

  &-primary {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border: none;
    color: var(--color-secondary) !important;
    background: var(--gradient-primary) !important;
  }

  &-primary:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}