.cut-diamond {
  /* Modify size here: */
  --size: 300px;
  --quarter-size: calc(var(--size) / 4);
  z-index: -1;

  border-style: solid;
  border-color: transparent transparent rgba(251,215,255,1) transparent;
  border-width: 0 var(--quarter-size) var(--quarter-size) var(--quarter-size);
  height: 0;
  width: calc(var(--size) / 2);
  box-sizing: content-box;
  position: relative;
  margin: 0 0 calc(var(--size) / 2) 0;
}
.cut-diamond:after {
  content: "";
  position: absolute;
  top: var(--quarter-size);
  left: calc(var(--quarter-size) * -1);
  width: 0;
  height: 0;
  border-style: solid;
  border-color: rgba(251,215,255,1) transparent transparent transparent;
  border-width: calc(var(--size) * 0.7) calc(var(--size) / 2) 0 calc(var(--size) / 2);
}